body
{
	background-color: #706C61;
}

.container
{
	margin: auto;
	padding: auto;
	padding-bottom: 15px;
	text-align: center;
	width: 55%;
	background-color: #899E8B;
	border: 2px solid black;
}

.calculator_container
{
	margin: auto;
	padding: auto;
	padding-bottom: 15px;
	text-align: center;
	width: 40%;
	background-color: #99C5B5;
	border: 2px solid black;
}

input[type=number]
{
	margin: auto;
	padding: auto;
	width: 10%;
}

#active_level
{
	margin: auto;
	padding: auto;
	width: 80%;
}
